body{
	background-image: url('../img/background.png');
	background-size: cover;
}
.contenedor{
	width: 350px;
	height: 640px;
	border:2px solid #000;
	text-align: center;
	background-image: url(../img/fondo.png);
	background-repeat: no-repeat;
	background-size: cover;
	left: -350px;
	top: 10px;
	position: fixed;

	
}
.full{
	left: 10px;
	transition: 1s;
}
#contenedor.full:after{
	left: -253px;
	transition: 1s;
}
#contenedor.full:before{
	left: 10px;
	transition: 1s;
}

.titulo{
	width: 170px;
	margin:0 auto;
}
.album{
	width: 0px;
	height: 0px;
	margin-top: 0px;
	border:0px solid #eee;
}
.ceja{
	height: 550px;
	width: 20px;
	margin-left:100%;
	top: 20px;
	border-radius: 0px 8px 8px 0px;
	background-color: #FF0000;
	border:1px solid #000;
	position: absolute;
}
.marquee{
	color: #eee;
	font-size: 20pt;
	margin-top: 40px;
}
#con-btn-play{
	text-align: center;
	color:#eee;
	font-size: 60pt;
}
#player{
	text-decoration: none;
}

.slider {
	-webkit-appearance: none;
	width: 70%;
	height: 5px;
	border-radius: 5px;   
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
		    /*transform: rotate(-90deg);
      		-webkit-transform: rotate(-90deg);
      		-moz-transform: rotate(-90deg);
      		-o-transform: rotate(-90deg);*/
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%; 
	background: #C0FF00;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #C0FF00;
	cursor: pointer;
}

.ceja{
	color: #eee;
}

.ceja div{
	transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    margin-top: 47px;
    margin-left: -3px;
    font-family: 'Orbitron', sans-serif;
}
